{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="target"></div>

<script id="template" type="text/ractive">
<div class="title">
  <h1>Note Book</h1>
</div>

<div class="search">
	<div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
        	<i class="fa fa-search"></i>
        </button>
      </span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
</div>

<div class="new_note" style="border: green 1px solid; margin: 10px 0px;" data-noteid="{% note_id_new %}">
    <div class="note-new-bar">
      <div class="note-new-note" style="display: inline-block; border: blue 1px solid; padding: 0px 10px;" on-click="note_new"> Add Note </div>
    	<div class="note-new-list" style="display: inline-block;">
        <i class="fa fa-list"></i>
      </div>
    	<div class="note-new-img" style="display: inline-block;">
        <i class="fa fa-picture-o"></i>
      </div>
    </div>
    <div class="note-new-body" style="display: none;">
      <div class="note-new-title" style="padding: 2px 10px;" contenteditable="true">
        <h4> Add Note Title </h4>
      </div>
      <div class="note-new-default" style="border: blue 1px solid; padding: 20px 10px;" contenteditable="true" on-keydown="note-new-edit"> Add Note </div>
      <div class="note-buttons">
          <i class="fa fa-user-plus"></i>
          <i class="fa fa-paint-brush"></i>
          <i class="fa fa-tag"></i>
      </div>
      <input id="new_board_done" class="btn btn-primary" type="submit" value="Submit" on-click="note_submit"/>
      <button id="new_post_cancel_button" class="btn btn-default" on-click="note_new_cancel">Cancel</button>
    </div>
</div>

<div class="notes_list">
  {% #notes_dict:note_index %}
    <div class="note-item" data-author="" data-noteid="{% note_index %}" style="border: purple 1px solid; margin: 10px 0px;">
  		<div class="note-favourite"><i class="fa fa-heart"></i></div>
    	<h3 class="note-title">{% note_title %}</h3>
    	<h5 class="note-description">{% note_description %}</h5>
    	<div class="note-list">{% note_list %}</div>
    	<img class="note-img" src="{% note_image_url %}"/>
    	<div class="note-tags"></div>
    	<div class="note-buttons" style="display: auto">
        	<i class="fa fa-user-plus"></i>
        	<i class="fa fa-paint-brush"></i>
        	<i class="fa fa-tag"></i>
        	<i class="fa fa-trash" on-click="note_delete"></i>
          <span>{% returnDate( note_time ) %}</span>
  	  </div>
  		<div class="note-authors"></div>
    </div>
  {% /board_dict %}
</div>

<div class="note_view" style="border: red 1px solid; margin: 10px 0px;">
    <div class="note-item" data-author="" data-noteid="{% note_index %}">
  		<div class="note-favourite" style="text-align: right;">
        <i class="fa fa-heart"></i>
      </div>
      <h3 class="note-title">Really dummy title</h3>
      <h5 class="note-description">Some random description</h5>
  		<div class="note-list"></div>
    	<img class="note-img" src=""/>
    	<div class="note-time"></div>
    	<div class="note-tags"></div>
    	<div class="note-buttons">
        <i class="fa fa-user-plus"></i>
        <i class="fa fa-paint-brush"></i>
        <i class="fa fa-tag"></i>
        <i class="fa fa-trash"></i>
  		</div>
  		<div class="note-authors"></div>
    </div>
</div>

</script>

<script>
$(function() {
  var helpers = Ractive.defaults.data;
  helpers.returnDate = returnDate;
  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      sign_in: "{{=URL('default', 'user', args=['login'])}}",
      sign_up: "{{=URL('default', 'user', args=['register'])}}",
      notes_dict: {},
      note_id_new: "",
      user_id: "{{=user_id}}"
    },
  });

  // Loads the initial list of messages.
  function load_notes() {
    $.ajax("{{=URL('default', 'load_notes')}}",
          {
            method: 'POST',
            success: function (data) {
              MAIN.set('notes_dict', data['notes_dict']);
            }
          }
    );
  }

  function returnDate(note_time) {
    var date_object = new Date(parseInt(note_time));
    var date = date_object.getDate();
    var month = date_object.getMonth() + 1;
    var year = date_object.getFullYear();
    var time = date_object.toLocaleTimeString();
    var prettyDate = date+"/"+month+"/"+year+" "+time;
    return prettyDate;
  }

  load_notes();

  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }

  MAIN.on("note_new", function(e) {
    console.log('onclick', e);
    $(".note-new-body").show();
    $(".note-new-bar").hide();
    MAIN.set('note_id_new', generateUUID());
    $( ".note-new-title" ).one( "keydown", function() {
      $( ".note-new-title > h4" ).empty();
    });
    $( ".note-new-default" ).one( "keydown", function() {
      $( ".note-new-default" ).empty();
    });
  });

  MAIN.on("note_new_cancel", function(e) {
    set_new_note();
  });

  function set_new_note() {
    $(".note-new-body").hide();
    $(".note-new-bar").show();
    MAIN.set('note_id_new', generateUUID());
    $( ".note-new-title > h4" ).text("Add Note Title");
    $( ".note-new-default" ).text("Add Note");
  }

  MAIN.on("note_submit", function(e) {
    var user_id = MAIN.get("user_id");
    console.log("notesubmit-node", e.node);
    var note_id = $(e.node.parentNode.parentNode).data('noteid');
    var note_title = $(".note-new-title > h4").text();
    var note_description = $(".note-new-default").text();
    if (note_title === "Add Note Title") {
      note_title = "";
    } if (note_description == "Add Note") {
      note_description = "";
    }
    console.log("user_id, note_id, note_title, note_description", user_id, note_id, note_title, note_description);
    if (note_title !== "" || note_description !== "") {
      send_note(user_id, note_id, note_title, note_description);
    }
    set_new_note();
  });

  function send_note(user_id, note_id, note_title, note_description) {
    var note_time_js = new Date().getTime();
    $.ajax("{{=URL('default', 'add_note', user_signature=True)}}",
            {
              data: {
                note_author: user_id,
                note_id: note_id,
                note_title: note_title,
                note_description: note_description,
                note_time: note_time_js
              },
              method: 'POST',
              success: function() {
                MAIN.set('notes_dict.' + note_id , {
                  note_author: user_id,
                  note_time: note_time_js,
                  note_title: note_title,
                  note_description: note_description
                });
                console.log("saved: "+note_title+" to server");
              },
              error: function() {
                alert("Could not save note to server");
              }
            }
    );
  }

  MAIN.on("note_delete", function(e) {
    var note_id = $(e.node.parentNode.parentNode).data('noteid');
    $.ajax("{{=URL('default', 'delete_note', user_signature=True)}}",
            {
              data: {
                note_id: note_id
              },
              method: 'POST',
              success: function() {
                var notes_dict = MAIN.get('notes_dict');
                delete notes_dict[note_id];
                MAIN.set('notes_dict', notes_dict);
                console.log("deleted to server");
              },
              error: function() {
                alert("Could not delete to server");
              }
            });
  });

 });

 </script>