{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="target"></div>

<!-- Sharing Modal -->
<div class="modal fade" id="sharing-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sharing "<span class="share-note-title"></span>"</h4>
        <h5>Author: <span class="share-note-author"></span></h5>
      </div>
      <div class="modal-body">
        <h5>Shared with:</h5>
        <div class="share-note-authors">
        </div>
        <h5 class="text-danger share-note-error"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>

<script id="template" type="text/ractive">

<br>

<div class="row">
  <div class="col-md-9 title">
    <h1>The Notebook</h1>
  </div>
  <div class="search col-md-3">
  	<div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
  </div>
</div>

<br>
<br>


<div class="row">
  <div class="new_note col-md-6 col-md-offset-3" style="border: green 1px solid; background-color: rgba(250,250,250,1)" data-noteid="{% note_id_new %}">
      <div class="note-new-bar">
        <div class="note-new-note" style="display: inline-block; border: blue 1px solid; padding: 0px 10px;" on-click="note_new"> Add Note </div>
      	<div class="note-new-list" style="display: inline-block;">
          <i class="fa fa-list"></i>
        </div>
      	<div class="note-new-img" style="display: inline-block;">
          <i class="fa fa-picture-o" on-click="note_new_img"></i>
        </div>
      </div>
      <div class="note-new-body" style="display: none;">
        <div class="note-new-title" style="padding: 2px 10px;" contenteditable="true">
          <h4> Add Note Title </h4>
        </div>
        <div class="note-new-default" style="border: blue 1px solid; padding: 20px 10px; display:none;" contenteditable="true" on-keydown="note-new-edit"> Add Note </div>
        <div id="dropzonebox" class="dropzone dropzonebox" style="display: none;"></div>
        <div class="note-buttons">
            <i class="fa fa-user-plus"></i>
            <i class="fa fa-paint-brush change-color"></i>
            <i class="fa fa-tag"></i>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" on-click="note_new_submit"/>
        <button id="new_post_cancel_button" class="btn btn-default" on-click="note_new_cancel">Cancel</button>
      </div>
  </div>
</div>

<br>

<div class="notes_list masonry">
  {% #notes_dict:note_index %}
    <div class="note-item item" data-author="" data-noteid="{% note_index %}" style=" margin: 10px 0px; background-color: {% note_colour %}" on-hover="show_buttons">
    	<h3 class="note-title" contenteditable="false" on-blur="edit_finish">{% note_title %}</h3>
    	<h5 class="note-description" contenteditable="false">{% note_description %}</h5>
      <div class="note-img-container" style="text-align:center; padding-bottom:5px;">
      	<img class="note-img" src="{% note_image_url %}" style="max-width:100%; max-height:100%; vertical-align: middle;"/>
      </div>
    	<div class="note-tags">
        {% #note_tags %}
          <span data-tag="{% . %}">{% . %} </span>
        {% /note_tags %}
      </div>
    	<div class="note-buttons" style="display: none">
        	<i class="fa fa-user-plus" on-click="note_manage_sharing"></i>
        	<i class="fa fa-paint-brush change-color" on-click="note_change_color"></i>
        	<div class="dropdown">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Label <i class="fa fa-tag"></i>
              <span class="caret"></span>
            </div>
            <div class="dropdown-menu label-menu" style="padding:10px">
              <li>
                <div class="add-label" contenteditable="true">Enter label name</div>
              </li>
              <input class="btn btn-primary" type="submit" value="Submit" on-click="send_tag"/>
              <li role="separator" class="divider"></li>
              {% #note_tags %}
                <li><input type="checkbox" checked on-click="remove_tag">{% . %}</li>
              {% /note_tags %}
            </div>
          </div>

          {% #if note_author == user_id %}
        	<i class="fa fa-trash" on-click="note_delete"></i>
          {% /if %}
          <span>{% returnDate( note_time ) %}</span>
  	  </div>
  		<div class="note-authors"></div>
    </div>
  {% /notes_dict %}
</div>

</script>

<script>
$(function() {
  var helpers = Ractive.defaults.data;
  helpers.returnDate = returnDate;
  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',

    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      sign_in: "{{=URL('default', 'user', args=['login'])}}",
      sign_up: "{{=URL('default', 'user', args=['register'])}}",
      notes_dict: {},
      note_id_new: "",
      upload_type: "txt",
      user_id: "{{=user_id}}"
    },
  });

  // Loads the initial list of messages.
  function load_notes() {
    var search_prefix = "{{=URL(args=['search'])}}/";
    var prefix_loc = location.href.indexOf(search_prefix);
    var query = prefix_loc === -1 ? "" :
        decodeURIComponent(location.href.substr(prefix_loc + search_prefix.length));
    $(".search input").val(query);
    $.ajax("{{=URL('default', 'load_notes')}}",
          {
            data: query ? {query: query} : undefined,
            method: 'POST',
            success: function (data) {
              MAIN.set('notes_dict', data['notes_dict']);
              refreshColourPicker();

              $('.dropdown-menu li').click(function(e) { 
                e.stopPropagation();
                $(".add-label").one( "keydown", function() {
                  $(".add-label", e.toElement.parentNode).empty();
                });
              });
            }
          }
    );
  }

  MAIN.on("show_buttons", function(e) {
    var ancestor = note_node(e.node);
    if (e.hover) {
      $(".note-buttons", ancestor).show();
      $('.note-title', ancestor).attr("contenteditable", "true");
      if ($('.note-title', ancestor).text() == "") {
        $('.note-title', ancestor).addClass( "helper-text" ).text("Add note title here");
      }
      if ($('.note-img', ancestor).attr("src") == "") {
        $('.note-description', ancestor).attr("contenteditable", "true");
        if ($('.note-description', ancestor).text() == "") {
          $('.note-description', ancestor).addClass( "helper-text" ).text("Add Note");
        }
      }
    }
    else {
      $(".note-buttons", ancestor).hide();
      $('.note-title', ancestor).attr("contenteditable", "false");
      $('.note-title', ancestor).removeClass( "helper-text" );
      $('.note-description', ancestor).removeClass( "helper-text" );
      if ($('.note-title', ancestor).text() == "Add note title here") {
        $('.note-title', ancestor).text("");
      }
      if ($('.note-img', ancestor).attr("src") == "") {
        $('.note-description', ancestor).attr("contenteditable", "false");
        if ($('.note-description', ancestor).text() == "Add Note") {
          $('.note-description', ancestor).text("");
        }
      }
    }
  });

  MAIN.on("send_tag", function(e) {
    var note_id = note_node(e.node).data('noteid');
    var tag = $(".add-label", e.node.parentNode).text();
    var dropdown = $(e.node.parentNode.parentNode).dropdown("toggle");
    send_tag(note_id, tag);
  });

  MAIN.on("note_edit", function(e) {
    var ancestor = note_node(e.node);
    var note_id = note_node(e.node).data('noteid');
    $('.note-title', ancestor).attr("contenteditable", "true");
    if ($('.note-title', ancestor).text() == "") {
      $('.note-title', ancestor).text("Add note title here");
    }
  })

  function note_node(node) {
    while (node && !($(node).data("noteid"))) {
      node = node.parentNode;
    }
    return $(node);
  }

  MAIN.on("remove_tag", function(e) {
    var note_id = note_node(e.node).data('noteid');
    var tag = $(e.node.parentNode).text();
    $(e.node.parentNode).remove();
    delete_tag(note_id, tag);
  });

  function delete_tag(note_id, tag) {
    $.ajax("{{=URL('default', 'delete_tag', user_signature=True)}}",
          {
            data: {
              note_id: note_id,
              tag: tag
            },
            method: 'POST',
            success: function (data) {
              var notes_dict = MAIN.get("notes_dict");
              var note_tags = notes_dict[note_id]['note_tags']
              var index = note_tags.indexOf(tag);
              note_tags.splice(index, 1);
              MAIN.set('notes_dict', notes_dict);  
            }
          }
    );
  }

  function send_tag(note_id, tag) {
    $.ajax("{{=URL('default', 'add_tag', user_signature=True)}}",
          {
            data: {
              note_id: note_id,
              tag: tag
            },
            method: 'POST',
            success: function (data) {
              var notes_dict = MAIN.get("notes_dict");
              var note_tags = MAIN.get("notes_dict." + note_id + ".note_tags");
              note_tags.push(tag);
              MAIN.set('notes_dict', notes_dict);    
            }
          }
    );
  }

  Dropzone.autoDiscover = false;
  var myDropzone = new Dropzone(".dropzonebox", {
    url: "{{=URL('default', 'add_image', user_signature=True)}}",
    autoProcessQueue: false,
    maxFiles: 1,
    acceptedFiles: "image/*"
  })

  function returnDate(note_time) {
    var date_object = new Date(parseInt(note_time));
    var date = date_object.getDate();
    var month = date_object.getMonth() + 1;
    var year = date_object.getFullYear();
    var time = date_object.toLocaleTimeString();
    var prettyDate = date+"/"+month+"/"+year+" "+time;
    return prettyDate;
  }

  load_notes();

  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }

  MAIN.on("note_new", function(e) {
    console.log('onclick', e);
    $(".note-new-body").show();
    $(".note-new-default").show();
    $(".note-new-bar").hide();
    MAIN.set('note_id_new', generateUUID());
    $( ".note-new-title" ).one( "keydown", function() {
      $( ".note-new-title > h4" ).empty();
    });
    $( ".note-new-default" ).one( "keydown", function() {
      $( ".note-new-default" ).empty();
    });
  });

  MAIN.on("note_new_img", function(e) {
    console.log('onclick', e);
    $(".note-new-body").show();
    $(".dropzonebox").show();
    $(".note-new-bar").hide();
    MAIN.set('note_id_new', generateUUID());
    $( ".note-new-title" ).one( "keydown", function() {
      $( ".note-new-title > h4" ).empty();
    });
    $( ".note-new-default" ).one( "keydown", function() {
      $( ".note-new-default" ).empty();
    });
  });

  MAIN.on("note_new_cancel", function(e) {
    set_new_note();
    $(".note-new-default").hide();
    $(".dropzonebox").hide();
  });

  function set_new_note() {
    $(".note-new-body").hide();
    $(".note-new-bar").show();
    MAIN.set('note_id_new', generateUUID());
    $( ".note-new-title > h4" ).text("Add Note Title");
    $( ".note-new-default" ).text("Add Note");
    $(".new_note").css( "background-color","rgba(250,250,250,1)");
  }

  MAIN.on("note_new_submit", function(e) {
    var user_id = MAIN.get("user_id");
    console.log("notesubmit-node", e.node);
    var note_id = MAIN.get('note_id_new');
    var ancestor = note_node(e.node);
    var note_colour = $(".new_note").css( "background-color" );
    var note_title = $(".note-new-title > h4").text();
    var note_description = $(".note-new-default").text();
    if (note_title === "Add Note Title") {
      note_title = "";
    } if (note_description == "Add Note") {
      note_description = "";
    }
    
    var image_count = myDropzone.files.length
    console.log("user_id, note_id, note_title, onte_description", user_id, note_id, note_title, note_description);
    if (image_count > 0) {
      send_image(user_id, note_id, note_title, note_colour);
    } else if (note_title !== "" || note_description !== "") {
      send_note(user_id, note_id, note_title, note_description, note_colour);
    }
    set_new_note(user_id, note_id, note_colour);
  });

  function refreshColourPicker() {
    $(".change-color").colorpicker({
                align: 'left'
              }).on('changeColor.colorpicker', function(e){
                var ancestor = note_node(e.currentTarget);  
                update_colour(ancestor, e.color.toRGB());
              });
  }


  function update_colour(note_element, colour_hash) {
    var note_id = $(note_element).data('noteid');
    var rgba = 'rgba('+colour_hash.r+','+colour_hash.g+','+colour_hash.b+','+colour_hash.a+')';
    $(note_element).css('background-color', rgba);
    $.ajax("{{=URL('default', 'change_colour_note', user_signature=True)}}",
            {
              data: {
                note_id: note_id,
                note_colour: rgba
              },
              method: 'POST',
              success: function() {
                var notes_dict = MAIN.get('notes_dict');
                if(typeof notes_dict.note_id !== 'undefined'){
                  MAIN.set('notes_dict.' + note_id + '.note_colour', rgba);
                  console.log("saved: "+rgba+" to server");
                };
              },
              error: function() {
                alert("Could not change colour to server");
              }
            }
    );
  }

  function send_note(user_id, note_id, note_title, note_description, note_colour) {
    var note_time_js = new Date().getTime();
    $.ajax("{{=URL('default', 'add_note', user_signature=True)}}",
            {
              data: {
                note_author: user_id,
                note_id: note_id,
                note_title: note_title,
                note_description: note_description,
                note_time: note_time_js,
                note_colour: note_colour
              },
              method: 'POST',
              success: function() {
                MAIN.set('notes_dict.' + note_id , {
                  note_author: user_id,
                  note_time: note_time_js,
                  note_title: note_title,
                  note_description: note_description,
                  note_colour: note_colour
                });
                refreshColourPicker();

                console.log("saved: "+note_title+" to server");
              },
              error: function() {
                alert("Could not save note to server");
              }
            }
    );
  }

  function send_image(user_id, note_id, note_title, note_colour) {
    var note_time_js = new Date().getTime();
    myDropzone.on('sending', function(file, xhr, formData){
            formData.append("note_author", user_id);
            formData.append("note_id", note_id);
            formData.append("note_title", note_title);
            formData.append("note_time", note_time_js);
            formData.append("note_colour", note_colour);
        });
    myDropzone.on('success', function(file, response){
            MAIN.set('notes_dict.' + note_id , {
                  note_author: user_id,
                  note_time: note_time_js,
                  note_title: note_title,
                  note_image_url: response,
                  note_colour: note_colour
            });
        });
    myDropzone.processQueue();
  }

  MAIN.on("note_delete", function(e) {
    var note_id = $(e.node.parentNode.parentNode).data('noteid');
    if (MAIN.get("user_id") != MAIN.get("notes_dict." + note_id + ".note_author")) {
      return;
    }
    $.ajax("{{=URL('default', 'delete_note', user_signature=True)}}",
            {
              data: {
                note_id: note_id
              },
              method: 'POST',
              success: function() {
                var notes_dict = MAIN.get('notes_dict');
                delete notes_dict[note_id];
                MAIN.set('notes_dict', notes_dict);
                console.log("deleted to server");
              },
              error: function() {
                alert("Could not delete to server");
              }
            });
  });

  function update_sharing_prompt(note_id) {
    var editable = MAIN.get("user_id") == MAIN.get("notes_dict." + note_id + ".note_author");
    var new_author_placeholder = 'New Author';
    var add_url = "{{=URL('default', 'add_shared_author', user_signature=True)}}"
    var remove_url = "{{=URL('default', 'remove_shared_author', user_signature=True)}}"
    var shared_authors = MAIN.get("notes_dict." + note_id + ".note_shared_authors");
    $("#sharing-modal .share-note-title").text(MAIN.get("notes_dict." + note_id + ".note_title"));
    $("#sharing-modal .share-note-author").text(MAIN.get("notes_dict." + note_id + ".note_author_email"));
    $("#sharing-modal .share-note-authors").empty();
    var error_node = $("#sharing-modal .share-note-error").hide(0);
    function remove_handler(removed_author) {
      return function() {
        var entry_row = $("#sharing-modal .share-note-authors [data-shared-author='" + removed_author + "']");
        var entry_button = $("button", entry_row);
        if (entry_button.prop("disabled")) {
          return;
        }
        error_node.hide("fast");
        entry_button.prop("disabled", true);
        $.ajax(remove_url, {
          data: {
            note_id: note_id,
            removed_author: removed_author
          },
          method: "POST",
          success: function() {
            entry_row.hide(function() { entry_row.remove(); });
          },
          error: function(xhr) {
            error_node.text(xhr.responseText).show("fast");
            entry_button.prop("disabled", false);
          }
        })
      }
    }
    function add_handler() {
      return function() {
        var entry_row = $("#sharing-modal .share-note-authors [data-shared-author='']");
        var entry_input = $("[contenteditable='true']", entry_row);
        var entry_button = $("button", entry_row);
        if (entry_button.prop("disabled")) {
          return;
        }
        error_node.hide("fast");
        entry_button.prop("disabled", true);
        var new_author = entry_input.text();
        $.ajax(add_url, {
          data: {
            note_id: note_id,
            new_author: new_author
          },
          method: "POST",
          success: function() {
            entry_input.text(new_author_placeholder);
            entry_button.prop("disabled", false);
            add_SA_row(new_author, entry_row);
          },
          error: function(xhr) {
            error_node.text(xhr.responseText).show("fast");
            entry_button.prop("disabled", false);
          }
        })
      }
    }
    function add_SA_row(SA, before_row) {
      var adding = SA === undefined;
      var text = adding ? new_author_placeholder : SA;
      var id = adding ? "" : SA;
      var text_focus_handler = adding ? function(e) { $(e.currentTarget).text(""); } : null;
      var text_blur_handler = adding ? function(e) {
        if ($(e.currentTarget).text() === "") {
          $(e.currentTarget).text(new_author_placeholder);
        }
      } : null;
      var button_handler = adding ?  add_handler() : remove_handler(SA);
      var button_text = adding ? "Add" : "Delete"
      var button_class = adding ? "btn-primary" : "btn-danger";
      var row = $("<div>").addClass("row").attr("data-shared-author", id).append(
        $("<div>").addClass("col-md-10").text(text).attr('contenteditable', adding).keydown(function(e) {
          if (e.which == 13 && adding) {
            e.preventDefault();
            button_handler();
          }
        }).focus(text_focus_handler).blur(text_blur_handler));
      if (editable) {
        row.append($("<div>").addClass("col-md-2").append(
          $("<button>").addClass("btn").addClass(button_class).addClass("text-right").text(button_text).click(button_handler)));
      }
      if (before_row) {
        $(row).insertBefore(before_row);
      } else {
        $("#sharing-modal .share-note-authors").append(row);
      }
      return row;
    }
    num_shared_authors = shared_authors ? shared_authors.length : 0;
    for (var i = 0; i <= num_shared_authors - (editable ? 0 : 1); ++i) {
      add_SA_row(i == num_shared_authors ? undefined : shared_authors[i]);
    }
  }

  function perform_search() {
    var query = $(".search input").val();
    if (query) {
      history.pushState(null, 'Searching for ' + query, "{{=URL(args=['search'])}}/" + query);
    } else {
      history.pushState(null, '', "{{=URL()}}");
    }
    load_notes();
  }

  $(".search button").click(perform_search);
  $(".search input").keydown(function(e) {
    if (e.which == 13) {
      perform_search();
    }
  });
  $(window).on('popstate', load_notes);

  MAIN.on("note_manage_sharing", function(e) {
    var note_id = $(e.node.parentNode.parentNode).data("noteid");
    update_sharing_prompt(note_id);
    $("#sharing-modal").modal("toggle");
  });

 });

 </script>