@media only screen and (min-width: 400px) {
  /* line 4, ../sass/_constants.scss */
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 700px) {
  /* line 10, ../sass/_constants.scss */
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 900px) {
  /* line 16, ../sass/_constants.scss */
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media only screen and (min-width: 1100px) {
  /* line 22, ../sass/_constants.scss */
  .masonry {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}
/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
body {
  background: #e8e8e8;
}

/* line 9, ../sass/_main.scss */
.header-buttons {
  text-align: center;
  padding-bottom: 2em;
}

/* line 14, ../sass/_main.scss */
.masonry {
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}

/* line 21, ../sass/_main.scss */
.item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 1em 1em 0.5em 1em;
  margin: 0 0 1em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* line 30, ../sass/_main.scss */
.add {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* line 34, ../sass/_main.scss */
.helper-text {
  color: grey;
}

/* line 38, ../sass/_main.scss */
.tag-input {
  width: 100%;
  max-width: 60em;
  font-size: inherit;
  font-family: inherit;
  padding: 0.4em;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* line 49, ../sass/_main.scss */
.note-tag-x {
  margin: 6px 3px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  padding: 4px 9px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
}

/* line 60, ../sass/_main.scss */
.tag-list {
  position: relative;
  padding: 0.5em 3em 0.25em 1em;
  list-style: none;
  margin: 0;
  min-height: 1em;
}

/* line 68, ../sass/_main.scss */
.tag-checkbox {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0.5em;
  top: 0.7em;
  border: none;
  width: auto;
  max-width: 60em;
}

/* line 79, ../sass/_main.scss */
.close-button {
  position: absolute;
  right: 0.5em;
  width: 1em;
  text-align: center;
  top: 0.7em;
  background-color: #d00;
  border: none;
  opacity: 0.3;
  line-height: 1;
  color: white;
}
