<div class="search">
	<div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
        	<i class="fa fa-search"></i>
        </button>
      </span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
</div>

<div class="new_post">
    <div class="postit-new-default"></div>
	<div class="postit-new-list">
		<i class="fa fa-list"></i>
	</div>
	<div class="postit-new-img">
		<i class="fa fa-picture-o"></i>
	</div>
</div>

<div class="post_list">
  {% #board_dict:post_index %}
    <div class="postit-item" data-author="" data-postid="{% post_index %}">
		<div class="postit-favourite"><i class="fa fa-heart"></i></div>
    	<h3 class="postit-title"></h3>
    	<h5 class="postit-description"></h5>
    	<div class="postit-list"></div>
    	<img class="postit-img" src=""/>
    	<div class="postit-tags"></div>
    	<div class="postit-buttons">
	      	<i class="fa fa-user-plus"></i>
	      	<i class="fa fa-paint-brush"></i>
	      	<i class="fa fa-tag"></i>
	      	<i class="fa fa-trash"></i>
		</div>
		<div class="postit-authors"></div>
    </div>
  {% /board_dict %}
</div>

<div class="post_view">
    <div class="postit-item" data-author="" data-postid="{% post_index %}">
		<div class="postit-favourite"><i class="fa fa-heart"></i></div>
    	<h3 class="postit-title"></h3>
    	<h5 class="postit-description"></h5>
		<div class="postit-list"></div>
    	<img class="postit-img" src=""/>
    	<div class="postit-time"></div>
    	<div class="postit-tags"></div>
    	<div class="postit-buttons">
	      	<i class="fa fa-user-plus"></i>
	      	<i class="fa fa-paint-brush"></i>
	      	<i class="fa fa-tag"></i>
	      	<i class="fa fa-trash"></i>
		</div>
		<div class="postit-authors"></div>
    </div>
</div>